force-app/main/flows/FlowGenerator-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateFlow</name>
        <label>GenerateFlow</label>
        <locationX>628</locationX>
        <locationY>91</locationY>
        <actionName>GenerateFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FlowGen_Output_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>FoundationFlowName</name>
            <value>
                <elementReference>Foundation_Flow_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ShowContactScreen</name>
            <value>
                <elementReference>ShowContactScreen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ShowOpportunityScreen</name>
            <value>
                <elementReference>ShowOpportunityScreen2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ShowTaskScreen</name>
            <value>
                <elementReference>TaskGuidanceStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubflowName</name>
            <value>
                <elementReference>Subflow_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ValidateTaskInput</name>
            <value>
                <elementReference>ValidateTaskInput</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>flowGenOutput</assignToReference>
            <name>passedValues</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>Required</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Required</stringValue>
        </value>
    </constants>
    <interviewLabel>FlowGenerator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowGenerator</label>
    <processType>Flow</processType>
    <screens>
        <name>FlowGen_Configuration_Screen</name>
        <label>FlowGen Configuration Screen</label>
        <locationX>316</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FlowGenConfigurationSecondScreen</targetReference>
        </connector>
        <fields>
            <name>ShowContactScreen</name>
            <dataType>Boolean</dataType>
            <fieldText>ShowContactScreen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShowOpportunityScreen2</name>
            <dataType>Boolean</dataType>
            <fieldText>ShowOpportunityScreen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaskGuidanceStatus</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Required</stringValue>
            </defaultValue>
            <fieldText>Task Guidance Status (Required/Optional/Hidden)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValidateTaskInput</name>
            <dataType>Boolean</dataType>
            <fieldText>Validate Task Input (if not hidden)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Foundation_Flow_Name</name>
            <dataType>String</dataType>
            <fieldText>Foundation Flow Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowGen_Output_Screen</name>
        <label>FlowGen Output Screen</label>
        <locationX>806</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowGenResult</name>
            <fieldText>{!flowGenOutput}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowGenConfigurationSecondScreen</name>
        <label>FlowGenConfigurationSecondScreen</label>
        <locationX>469</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GenerateFlow</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>This flow will generate a customized {!Foundation_Flow_Name} flow that you can assign to a button</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subflow_Name</name>
            <dataType>String</dataType>
            <fieldText>Flow Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FlowGen_Configuration_Screen</startElementReference>
    <variables>
        <name>flowGenOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
